<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="INIT_COORDINATES_FROM_GOOGLE" value="true"/>
    <!--<add key="BUS_PASSENGERS_COUNT" value="53"/>
    <add key="MINI_BUS_PASSENGERS_COUNT" value="20"/>-->
    <add key="MAX_DISTANCE" value="20"/>
    <add key="MAX_DISTANCE_ON_THE_WAY" value="3"/>
  </appSettings>
</configuration>